.Page--calendar header {
    border: none;
}

.Page--calendar .FauxHeader {
    color: white;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Page--calendar .FauxHeader .Container {
    padding: 24px 16px;
    padding-top: 0;
}

.Page--calendar .Container--vertical {
    padding-bottom: 0;
}

.Page--calendar .CalendarSlots {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Page--calendar .Calendar {
    position: relative;
    flex-grow: 1;
}

.Page--calendar .Calendar:not(:last-of-type) {
    margin-right: 48px;
}

@media (max-width: 750px) { 
    .Page--calendar .Calendar:not(:first-of-type) {
        display: none;
    }

    .Page--calendar .Calendar:not(:last-of-type) {
        margin-right: 0;
    }
}
