.Page--index {
    display: flex;
    flex-direction: column;
}

.Page--index .IndexSection {
    /* font-weight: 700; */
    color: white;
    font-size: 1.3rem;
    flex-grow: 1;
    width: 100%;
    padding: 24px 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    text-transform: uppercase;
    letter-spacing: 3px;
    /* box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); */
}

.IndexSectionContent {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.Page--index .IndexSection--small {
    flex-grow: initial;
    font-size: 1.1rem;
}

.Page--index .IndexTitle {
    font-weight: 700;
    padding: 24px 24px;
    font-size: 1.3rem;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}