.Page.Page--homeworkedit {
    color: white;
    padding-bottom: 32px;
}

.Page.Page--homeworkedit .OptionGroup {
    margin-bottom: 32px;
}

.Page.Page--homeworkedit .OptionGroup:last-of-type {
    margin-bottom: 24px;
}